
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Welcome!!
        <form method="post" action="Home\MyActionSubmit">
        <table>
            <tr>
                <td>Enter your Name:</td>
                <td>
                    <input id='Name' name='N_Name' type='text' value='' />
                </td>
            </tr>
            <tr>
                <td>Enter your Age:</td>
                <td>
                    <input id='Age' name='N_Age' type='text' value='' />
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td><input type='submit' value='Submit' /></td>
            </tr>
            </table>
            </form>
                            

    </div>
</body>
</html>
